Exercise 10: Create a new list from two list using the following condition

Create a new list from two list using the following condition

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [1]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [2]:
number = 7536

print(str(number)[::-1])

6357

Possible solution

In [ ]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Exercise 12: Calculate income tax for the given income by adhering to the rules below

In [21]:
taxable_income = 13000


def tax_calculatore(taxable_income):
    income_tax = 0
    #etape 1
    if taxable_income < 10000 :
        return income_tax
    taxable_income = taxable_income - 10000
    
    #Etape 2
    if taxable_income < 10000:
        income_tax += taxable_income * 0.1
    else:
        income_tax += 10000 * 0.1
        
    if taxable_income <= 10000:
        return income_tax
    taxable_income = taxable_income - 10000
        
    #Etape 3
    income_tax += taxable_income * 0.2
    return income_tax
    
tax_calculatore(taxable_income)

300.0

Exercise 13: Print multiplication table from 1 to 10