Exercise 10: Create a new list from two list using the following condition

Create a new list from two list using the following condition

Given two list of numbers, write a program to create a new list such that the new list should contain odd numbers from the first list and even numbers from the second list.

In [1]:
def merge_list(list1, list2):
    result_list = []
    
    # iterate first list
    for num in list1:
        # check if current number is odd
        if num % 2 != 0:
            # add odd number to result list
            result_list.append(num)
    
    # iterate second list
    for num in list2:
        # check if current number is even
        if num % 2 == 0:
            # add even number to result list
            result_list.append(num)
    return result_list

list1 = [10, 20, 25, 30, 35]
list2 = [40, 45, 60, 75, 90]
print("result list:", merge_list(list1, list2))

result list: [25, 35, 40, 60, 90]

Exercise 11: Write a Program to extract each digit from an integer in the reverse order.

For example, If the given int is 7536, the output shall be “6 3 5 7“, with a space separating the digits.

In [2]:
number = 7536

print(str(number)[::-1])

6357

Possible solution

In [ ]:
number = 7536
print("Given number", number)
while number > 0:
    # get the last digit
    digit = number % 10
    # remove the last digit and repeat the loop
    number = number // 10
    print(digit, end=" ")

Exercise 12: Calculate income tax for the given income by adhering to the rules below

In [21]:
taxable_income = 13000


def tax_calculatore(taxable_income):
    income_tax = 0
    #etape 1
    if taxable_income < 10000 :
        return income_tax
    taxable_income = taxable_income - 10000
    
    #Etape 2
    if taxable_income < 10000:
        income_tax += taxable_income * 0.1
    else:
        income_tax += 10000 * 0.1
        
    if taxable_income <= 10000:
        return income_tax
    taxable_income = taxable_income - 10000
        
    #Etape 3
    income_tax += taxable_income * 0.2
    return income_tax
    
tax_calculatore(taxable_income)

300.0

Exercise 13: Print multiplication table from 1 to 10

Expected Output:

1  2 3 4 5 6 7 8 9 10 		
2  4 6 8 10 12 14 16 18 20 		
3  6 9 12 15 18 21 24 27 30 		
4  8 12 16 20 24 28 32 36 40 		
5  10 15 20 25 30 35 40 45 50 		
6  12 18 24 30 36 42 48 54 60 		
7  14 21 28 35 42 49 56 63 70 		
8  16 24 32 40 48 56 64 72 80 		
9  18 27 36 45 54 63 72 81 90 		
10 20 30 40 50 60 70 80 90 100

In [37]:
for i in range(1,11):
    for j in range (1,11):
        print(i*j, end=" ")
    print("\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

Exercise 14: Print a downward Half-Pyramid Pattern of Star (asterisk)

* * *

In [77]:
for i in range(5, 0, -1):
    print(i*'*',end='  '+'\n')

*****
****
***
**
*

In [72]:
for j in range(5,0,-1):
    print()
    for i in range(j, 0, -1):
        print('*', end=' ')

* * * * *
* * * *
* * *
* *
*

Exercise 15: Write a function called exponent(base, exp) that returns an int value of base raises to the power of exp.

***
Note here exp is a non-negative integer, and the base is an integer.

Expected output

Case 1:

base = 2
exponent = 5

2 raises to the power of 5: 32 i.e. (2 *2 * 2 *2 *2 = 32)
Case 2:

base = 5
exponent = 4

5 raises to the power of 4 is: 625 
i.e. (5 *5 * 5 *5 = 625)

In [1]:
base = 2
exp = 5


def exponent(base, exp):
    print("base = ", base)
    print("exp =", exp)
    produit = 1
    affichage = "i.e.("
    for i in range(exp -1, 0, -1):
        produit = produit*base
        affichage = affichage + f"{base}*"

    produit = produit * base
    affichage = affichage + f"{base}"
    affichage += f"={produit})"

    print(base, "raises to the power of", exp, "is :", produit,affichage)


exponent(base, exp)

base =  2
exp = 5
6250
2 raises to the power of 5 is : 32 i.e.(2*2*2*2*2=32)

Exercise 16 : Write a function can résolve a équtaion du seconde degrée

In [3]:
from math import *
a = int(input())
b = int(input())
c = int(input())

def calcul_f_seconde_degrée(coeficein_direvteur,coeficein_b,chiffre):
    delta = (coeficein_b*coeficein_b)-(4*coeficein_direvteur*chiffre)
    print("la valeure de est :",delta)
    solution1 =0
    solution2 =0
    if delta > 0 :
        print("il y a alors 2 solution :")
        solution1 = (sqrt(delta)-coeficein_b)/(2*coeficein_direvteur)
        solution2 = (sqrt(-delta)-coeficein_b)/(2*coeficein_direvteur)
        
    elif delta == 0:
        print("il y a alors 1 solution :")
        solution1 = (-coeficein_b)/(2*coeficein_direvteur)   
    else:
        print("il n'y a pas de solution")
        
    
calcul_f_seconde_degrée(a,b,c)

la valeure de est : -47
il n'y a pas de solution